.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 2rem;
    padding: 1rem;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
}

p{
    font-size: 2rem;
    color: #333333;
}

h1{
    font-size: 4rem;
    color: #000000;
    margin-bottom: 3rem;
    font-weight: bold;
}

.button{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.imagen-inicio{
    width: 100%;
    height: auto;
}